<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.ConnDBWithMybatis.CdbwmMapper">

    <select id="selectUser" resultType="com.example.springboot.entities.User">
        select * from SpringBootTest.user
        <where>id = 1</where>
    </select>

    <select id="selectUsers" resultType="com.example.springboot.entities.User">
        select * from SpringBootTest.user order by id desc limit 5;
    </select>

    <select id="returnNumber" resultType="INTEGER">
        select count(*) from SpringBootTest.user order by id desc limit 5;
    </select>

    <select id="returnNumbers" resultType="INTEGER">
        select count(*) from SpringBootTest.user order by id desc;
    </select>

    <select id = "selectUserById" parameterType="String" resultType="com.example.springboot.entities.User">
        select * from SpringBootTest.user where username =#{name}
    </select>

    <select id = "returnNumberById" parameterType="String" resultType="INTEGER">
        select count(*) from SpringBootTest.user where username =#{name}
    </select>

    <insert id="insertDataSan" >
        insert into SpringBootTest.user(username,sex,age) values (#{name},#{sex},#{age});
    </insert>

    <select id="testTable" parameterType="com.example.springboot.entities.User" resultType="com.example.springboot.entities.User">
        select * from SpringBootTest.user
        <where>
        1 = 1
            <if test="user.userName != null and user.userName != ''">
                and username = #{user.userName}
            </if>
            <if test="user.sex != null and user.sex != ''">
                and sex = #{user.sex}
            </if>
            <if test="user.age != 0">
                and age = #{user.age}
            </if>
            <if test="user.password != null and user.password != ''">
                and password = #{user.password}
            </if>
            <if test="user.email != null and user.email != ''">
                and email = #{user.email}
            </if>
        </where>
        ;
    </select>

</mapper>