<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.withHtml.mapper.VideoAndImageMapper">


    <select id="findVideoData" resultType="com.example.springboot.withHtml.entities.Video">
        select * from SpringBootTest.video;
    </select>


</mapper>